*{
	background-color: #800000
}

.buy-list{
	background-color: #F5DEB3
	padding: 20px
	width: 300px
	border: 2px solid 
}

.buy-list li{
	margin: 8px 0
}

.holiday-list{
	background-color: #8A9A5B
	padding: 20px
	width:300px
	border:	2px solid 
}

.holiday-list li{
	margin: 8px 0
}